{% extends 'base.html.twig' %}

{% block title %}Siųsti laišką{% endblock %}

{% block body %}
    <a style="margin-left: 15px; text-decoration: none" href="{{ path('app_egzaminai') }}">
        <span>&#10229;</span> Grįžti atgal</a>
    <h1>Siųsti laišką dėl pasikeitusių egzamino duomenų</h1>
    <br/>
    <h5>Pasirinkite, kam siųsite laišką ir dėl kokio egzamino:</h5>
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" class="btn btn-success" value="Siųsti">
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
