{% extends 'base.html.twig' %}

{% block title %}Taisyklės{% endblock %}

{% block body %}
    <h1>Taisyklės</h1>

    <div>
        <button class="btn btn-link" data-toggle="collapse"
                href="#collapseRules1" aria-expanded="false"
                aria-controls="collapseRules1">
            Teorijos egzamino taisyklės
        </button>
    </div>
    <div class="collapse" id="collapseRules1">
        <div>
            <ul>
                <li> Egzaminuojamasis privalo pateikti darbuotojui asmens tapatybę patvirtinantį dokumentą.</li>
                <li> Egzamino metu negalima su savimi turėti bei ant stalo ir kėdės laikyti asmeninių daiktų, dėvėti striukės, kepurės bei kito galvos gobtuvo (išimties tvarka gali būti leidžiama dėvėti galvos apdangalą dėl estetinių, medicininių ar religinių priežasčių). </li>
                <li> Draudžiama naudotis literatūra, akiniais (kurie nėra skirti regėjimo korekcijai), mobiliojo ryšio bei kitomis informacijos priėmimo ir perdavimo priemonėmis, kalbėtis su kitais asmenimis bei keisti monitoriaus pasvirimo kampą. </li>
                <li> Negalima sėstis ne į savo vietą. </li>
                <li> Jeigu išsiaiškinama, kad egzaminą laikyti atvyko kitas žmogus, nei buvo registruotas egzminui, pranešama policijai.</li>
            </ul>
        </div>
    </div>
    <div>
        <button class="btn btn-link" type="button" data-toggle="collapse"
                data-target="#collapseRules2" aria-expanded="false"
                aria-controls="collapseRules2">
            Vairavimo egzamino taisyklės
        </button>
    </div>
    <div class="collapse" id="collapseRules2">
        <div>
            <ul>
                <li> Egzaminuojamasis privalo pateikti darbuotojui asmens tapatybę patvirtinantį dokumentą.</li>
                <li> Vairavimo egzamino metu tikrinama ar sugebate važiuoti ekonomiškai. Pavaras perjungti reikia variklio apsisukimams nepasiekus 2000 aps./min. 50 km/val. greičiu judėti reikia įjungus ketvirtą pavarą, o 70 km/val. – penktą arba šeštą. </li>
                <li> Važiuojant reikia dairytis per veidrodėlius, parodyti posūkio signalą iki manevro likus 5 sekundėms, laikytis saugaus atstumo iki priekyje važiuojančių transporto priemonių, neviršyti leistino greičio. </li>
            </ul>
        </div>
    </div>
{% endblock %}
