{% extends 'base.html.twig' %}

{% block title %}Kliento egzaminai{% endblock %}

{% block body %}
    <h1>Kliento egzaminai</h1>

    <a href="{{ path('app_klientaiPriminti') }}" class="btn btn-success">Išsiūsti priminimą</a>

{% endblock %}