{% extends 'base.html.twig' %}

{% block title %}Kliento tvarkaraštis{% endblock %}

{% block body %}
    <h1>Kliento tvarkaraštis</h1>

    <a href="{{ path('app_klientaiProgresas') }}" class="btn btn-success">Peržiūrėti progresą</a>

{% endblock %}