{% extends 'base.html.twig' %}

{% block title %}Filialo keitimas automobiliui{% endblock %}

{% block body %}

      <h4>Keisti automobilio filialą</h4>
			{{ form_start(form) }}
	    {{ form_widget(form) }}
	    <input type="submit" class="btn btn-primary" name="keistiFiliala" value="Keisti">
	    {{ form_end(form) }}

{% endblock %}
