{% extends 'base.html.twig' %}

{% block title %}Automobilio būsenos keitimas{% endblock %}

{% block body %}

          <h4>Keisti automobilio būseną</h4>
          <p>Pasirinkite būseną:</p>
		  <form>
		   <select class="form-control">
				<option>Laisva</option>
				<option>Naudojama</option>
				<option>Remontuojama</option>			  
		   </select>
		 <button type="submit" class="btn btn-primary">Pakeisti</button>
	   </form>
		   
{% endblock %}
