{% extends 'base.html.twig' %}

{% block title %}Automobilio būsenos keitimas{% endblock %}

{% block body %}

      <h4>Keisti automobilio būseną</h4>
			{{ form_start(form) }}
      
	    {{ form_widget(form) }}
	    <input type="submit" class="btn btn-primary" value="Keisti">
	    {{ form_end(form) }}

{% endblock %}
