{% extends 'base.html.twig' %}

{% block title %}Automobilio filialo keitimas{% endblock %}

{% block body %}


          <h4>Keisti automobilio filialą</h4>
          <p>Pasirinkite filialą:</p>
		  <form>
		   <select class="form-control">
				<option>Kauno</option>
				<option>Vilniaus</option>
				<option>Šiaulių</option>			  
		   </select>
		 <button type="submit" class="btn btn-primary">Pakeisti</button>
		   </form>
		   
{% endblock %}
