{% extends 'base.html.twig' %}

{% block title %}{{ purpose }} automobilį{% endblock %}
{% block body %}
          <h4>Pridėti automobilį</h4>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" name="patvirtinti" class="btn btn-primary" value="Pridėti">
    {{ form_end(form) }}

{% endblock %}
