{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}

{% block title %}Automobilio vieta{% endblock %}

{% block body %}
    <h1>Automobilio buvimo vieta</h1>
    <p>
      Automobilio, kurio valstybiniai numeriai: <b>{{ automobilis.valstybiniainr }}</b> buvimo vieta
    </p>
    <input type="hidden" id="ilguma" name="ilguma" value="{{automobilis.ilguma}}">
    <input type="hidden" id="platuma" name="platuma" value="{{automobilis.plokstuma}}">
    <div id="map" style="width:600px; height: 400px;"></div>


    <script src="https://maps.googleapis.com/maps/api/js" ></script>

    <script type="text/javascript">
    var platuma =  document.getElementById('platuma').value;
    var ilguma =  document.getElementById('ilguma').value;
      var pos = {lat: parseFloat(platuma), lng: parseFloat(ilguma)};
       var map = new google.maps.Map(
           document.getElementById('map'), {zoom: 16, center: pos});
       var marker = new google.maps.Marker({position: pos, map: map});
    </script>


{% endblock %}
