{% extends 'base.html.twig' %}

{% block title %}Instruktoriaus tvarkaraštis{% endblock %}

{% block body %}
    <h1>Instruktoriaus tvarkaraštis</h1>
    <a href="{{ path('app_instruktoriaiRedaguotiTvarkarasti') }}" class="btn btn-primary">Redaguoti tvarkaraštį</a>
{% endblock %}
